.food_container{
  margin-top:70px;
  text-align:center;
  line-height:30px;
}
.food_container h3{
  font-size:27px;
  font-weight:100;
}








.about_hellofresh{
  display:flex;
  justify-content: center;
  width:1000px;
  height:200px;
  background-color: orange;
  margin: 20px 150px;
  border-radius: 7px;
  padding:20px 30px;
}

.about_hellofresh_text{
  text-align:center;
  display:block;
  line-height:25px;
  
}


.slide-text {
  text-align: center;
  margin-top: 10px;
}

.slide-title {
  font-weight: bold;
  font-size: 16px;
}

.slide-description {
  font-size: 14px;
  color: gray;
}
