/* ImageSlider.css */
.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: auto;
  
}

.image-container {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.slide-image {
  width: 150px;  /* Adjust size as needed */
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s;
}

.arrow {
  cursor: pointer;
  font-size: 30px;
  user-select: none;
  padding: 10px;
  color:black;
}

.arrow:hover {
  color: green;
}

