.seventh_container{
  margin:30px 150px;
}

.subcontent_one_container{
  margin:40px 40px;
}

.roundcover_container{
  display:flex;
  color:green;
  margin:10px 0px;
  align-items:center;
 
}
 .faCaret_down{
  border-radius:50%;
  border:1px solid green;
  width:30px;
  height:30px;
  justify-content:center;
  align-items:center;
  
}

.round_dropdown_text{
  margin:0px 15px;
}

.subcontent_two{
  line-height:23px;
  justify-content: center;
  align-items:center;
}